[*.cs]

# IDE0073: The file header is missing or not located at the top of the file
dotnet_diagnostic.ide0073.severity = error

file_header_template = BigDecimal is copyright by Adam White.\nMIT License.\nhttps://github.com/AdamWhiteHat/BigDecimal

# IDE0049: Simplify Names
dotnet_style_predefined_type_for_locals_parameters_members = false

# 'using' directive preferences
csharp_using_directive_placement = inside_namespace:error


# Microsoft .NET properties
csharp_indent_braces = false
csharp_new_line_before_open_brace = all
csharp_space_between_method_call_parameter_list_parentheses = true
csharp_space_between_method_declaration_parameter_list_parentheses = true
csharp_space_between_parentheses = control_flow_statements,expressions
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion

# ReSharper properties
resharper_blank_lines_inside_type = 1
resharper_space_within_array_access_brackets = true
resharper_space_within_list_pattern_brackets = true
resharper_space_within_new_parentheses = true

# RCS1096: Use 'HasFlag' method or bitwise operator.
dotnet_diagnostic.rcs1096.severity = suggestion

# RCS1124: Inline local variable.
dotnet_diagnostic.rcs1124.severity = none

# RCS1037: Remove trailing white-space.
dotnet_diagnostic.rcs1037.severity = suggestion

# RCS1145: Remove redundant 'as' operator.
dotnet_diagnostic.rcs1145.severity = error

# RCS1008: Use explicit type instead of 'var' (when the type is not obvious).
dotnet_diagnostic.rcs1008.severity = silent

# IDE0049: Simplify Names
dotnet_style_predefined_type_for_member_access = false

# IDE0002: Simplify Member Access
dotnet_diagnostic.ide0002.severity = none

# RCS1010: [deprecated] Use 'var' instead of explicit type (when the type is obvious)
dotnet_diagnostic.rcs1010.severity = none

# RCS1118: Mark local variable as const
dotnet_diagnostic.rcs1118.severity = silent
csharp_indent_labels = one_less_than_current
csharp_using_directive_placement = inside_namespace:error
csharp_prefer_simple_using_statement = true:suggestion
csharp_prefer_braces = true:silent
csharp_style_namespace_declarations = file_scoped:error
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_prefer_top_level_statements = true:silent
csharp_style_prefer_primary_constructors = true:suggestion

# RCS1141: Add 'param' element to documentation comment
dotnet_diagnostic.rcs1141.severity = error

# IDE0034: Simplify 'default' expression
csharp_prefer_simple_default_expression = false

# RCS1244: Simplify 'default' expression
dotnet_diagnostic.rcs1244.severity = none

# RCS1036: Remove unnecessary blank line
dotnet_diagnostic.rcs1036.severity = none

[*.{cs,vb}]
#### Naming styles ####

# Naming rules

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Symbol specifications

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Naming styles

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4
indent_size = 4

# Unused element in a documentation comment
dotnet_diagnostic.rcs1228.severity = none

dotnet_style_namespace_match_folder = true:error
csharp_style_namespace_declarations = file_scoped:error

dotnet_diagnostic.ide0055.severity = none

dotnet_style_qualification_for_event = true
dotnet_style_qualification_for_field = true
dotnet_style_qualification_for_method = true
dotnet_style_qualification_for_property = true

csharp_style_prefer_index_operator = false

roslynator_analyzers.enabled_by_default = true
roslynator_refactorings.enabled = true
roslynator_compiler_diagnostic_fixes.enabled = true
dotnet_analyzer_diagnostic.category-roslynator.severity = suggestion
dotnet_analyzer_diagnostic.category-style.severity = suggestion
dotnet_diagnostic.RCS0045.severity = none
dotnet_diagnostic.RCS0046.severity = none
dotnet_diagnostic.RCS1012.severity = none
dotnet_diagnostic.RCS1013.severity = none
dotnet_diagnostic.RCS1100.severity = none
dotnet_diagnostic.RCS0021.severity = none
dotnet_diagnostic.RCS0009.severity = none
dotnet_diagnostic.RCS1002.severity = none
dotnet_diagnostic.RCS0030.severity = none
dotnet_diagnostic.RCS0056.severity = suggestion
dotnet_diagnostic.RCS1141.severity = error
dotnet_diagnostic.RCS1142.severity = warning
dotnet_diagnostic.RCS1247.severity = none
dotnet_diagnostic.RCS0020.severity = none
dotnet_diagnostic.RCS0047.severity = none
dotnet_diagnostic.RCS1141.severity = silent

# //TODO dotnet_diagnostic.RCS0053 can actually look nice. I just don't know how to tell VS or Resharper to do it.
dotnet_diagnostic.RCS0053.severity = none

csharp_style_prefer_range_operator = false:error
