<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<SteveCadwallader.CodeMaid.Properties.Settings>
			<setting name="ThirdParty_UseJetBrainsReSharperCleanup" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="Cleaning_RemoveRegions" serializeAs="String">
				<value>2</value>
			</setting>
			<setting name="Reorganizing_ReverseOrderByAccessLevel" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="Reorganizing_MemberTypeStructs" serializeAs="String">
				<value>Structs||8||Structs</value>
			</setting>
			<setting name="Cleaning_InsertBlankLinePaddingAfterFieldsSingleLine"
                serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="Reorganizing_MemberTypeConstructors" serializeAs="String">
				<value>Constructors||10||Constructors</value>
			</setting>
			<setting name="Reorganizing_MemberTypeMethods" serializeAs="String">
				<value>Methods||11||Methods</value>
			</setting>
			<setting name="Reorganizing_MemberTypeProperties" serializeAs="String">
				<value>Properties||5||Properties</value>
			</setting>
			<setting name="Cleaning_InsertBlankLinePaddingBetweenPropertiesMultiLineAccessors"
                serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="Reorganizing_MemberTypeEnums" serializeAs="String">
				<value>Enums||1||Enums</value>
			</setting>
			<setting name="Cleaning_InsertBlankLinePaddingAfterPropertiesSingleLine"
                serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="Reorganizing_MemberTypeDestructors" serializeAs="String">
				<value>Destructors||12||Destructors</value>
			</setting>
			<setting name="Cleaning_RemoveBlankLinesAfterOpeningBrace" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Cleaning_InsertBlankLinePaddingBeforePropertiesSingleLine"
                serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="Reorganizing_MemberTypeDelegates" serializeAs="String">
				<value>Delegates||3||Delegates</value>
			</setting>
			<setting name="Reorganizing_RegionsRemoveExistingRegions" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="Reorganizing_MemberTypeIndexers" serializeAs="String">
				<value>Indexers||6||Indexers</value>
			</setting>
			<setting name="Reorganizing_MemberTypeClasses" serializeAs="String">
				<value>Classes||9||Classes</value>
			</setting>
			<setting name="Cleaning_InsertBlankLinePaddingBeforeSingleLineComments"
                serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="Reorganizing_MemberTypeFields" serializeAs="String">
				<value>Fields||2||Fields</value>
			</setting>
			<setting name="Reorganizing_MemberTypeEvents" serializeAs="String">
				<value>Events||4||Events</value>
			</setting>
			<setting name="Cleaning_InsertBlankLinePaddingBeforeFieldsSingleLine"
                serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="Reorganizing_RunAtStartOfCleanup" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="Reorganizing_PrimaryOrderByAccessLevel" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Reorganizing_ExplicitMembersAtEnd" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="Reorganizing_KeepMembersWithinRegions" serializeAs="String">
				<value>False</value>
			</setting>
		</SteveCadwallader.CodeMaid.Properties.Settings>
	</userSettings>
</configuration>